.bg{
  background-color: rgba(203, 206, 205, 0.728);
}
.cart1{
  background-color: cyan;
}
.bsh{
  box-shadow: 10px 10px 5px black;
}
.bg1{
  background-color: rgba(231, 236, 234, 0.728);
}
.edit{
  background-color: blue;
}
.ig:hover{
  transform: scale(1.20,1.15);
}


/* nav{
  background: rgba(1, 1, 1, 0.267);
  height: 70px;
}

nav ul{
  float:right;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  padding: 13px;
}
.con{
  background-color: blue;
} */