/* // Patel Krisha - 117 */

.head{
  background-color: pink;
  border: 2px black solid;
  border-radius: 100px;
  text-align: center;
}
.a1{
  background-color: aquamarine;
}

.a2{
  background-color: aqua;
}

.a3{
  width: 400px;
  height: 200px;
}

.a6{
  background-color: green;
}